html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

body {
    background-color: #e1e3ea;
}

button {
    cursor: pointer;
}

.add-book {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    padding: 16px;
    background-color: #8d6b94;
    border: none;
    border-radius: 10px;
    position: absolute;
    bottom: 50px;
    right: 50px;
    transition: transform 0.5s ease;
}

.add-book:hover {
    transform: scale(1.2);
}

.book-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.card {
    width: 200px;
    padding: 16px;
    background-color: #8c80a3;
    color: #fff;
    border-radius: 5px;
    text-align: right;
}

.read-book {
    background-image: url('images/turned-book.png');
    background-position: top left;
    background-repeat: no-repeat;
}

.unread-book {
    background-image: url('images/open-book.png');
    background-position: top left;
    background-repeat: no-repeat;
}

.add-book-modal {
    position: fixed;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #e8e1ea;
    z-index: 1;
    border-radius: 10px;
    text-align: center;
    border: 1px solid white;
    padding: 16px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.5s ease-in-out;
}

.modal-active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-title {
    font-weight: bold;
}

.book-input,
.modal-buttons {
    font-size: 20px;
    border: transparent;
    border-radius: 5px;
    padding: 8px;
    margin: 8px 0;
}

.read-label {
    display: inline-block;
}

#read-input {
    margin-left: 8px;
}

.modal-buttons {
    background-color: #8d6b94;
    color: #fff;
    font-weight: bold;
    padding: 8px 16px;
    margin: 8px 4px;
    transition: transform 0.3s ease;
}

.modal-buttons:hover {
    transform: scale(1.1);
}